<%= link_to "dinnerdash", :back, :class => 'title_edit' %>
<h2 class="user_edit">Seu Perfil</h2>
<h2 class="subtitle">Atualize seus dados pessoais e senha.</h2>
<body class="fundobackoffice">
   <div class="log2"> 
        <%= link_to "Pedidos", "/order_meals", class:"btn btn-success intro4"%>
        <%= link_to "Refeições", "/meals", class:"btn btn-success intro4"%>
        <%= link_to "Categorias de refeição", "/meal_categories", class:"btn btn-success intro4"%>  
  </div>
</body>
 