<h1 class="user_edit">New Meal Category</h1>
<h2 class="subtitle">Atualize seus dados pessoais e senha.</h2>

<body class="fundobackoffice">
    <div class ="log2">
        <%= render 'form', meal_category: @meal_category %>
    </div>
</body>