<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meal_category.name %>
</p>

<%= link_to 'Edit', edit_meal_category_path(@meal_category) %> |
<%= link_to 'Back', meal_categories_path %>
