.topmargin{
    margin-top: 15px;
}
.leftmarginnavbar{
    margin-left: 50px;
}
.font{
	font-family: 'Roboto', sans-serif;
}
.font2{
    font-family: 'Acme', sans-serif;
}

.leftmarginvoltar{
    margin-left: 10px;
}
.tablecss{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.perfil{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.btperfil {
	width: 350px;
	display: block;
	margin-bottom: 2%;
	margin-top: 1%;
}
