// Place all the styles related to the Meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mealSize{
    width: 100px;
    height: 180px;
}

.namefontsize{
    font-size: 15px;
}