// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcomeButtonsEdit{
    position: absolute;
    top: 10px;
    right: 90px;

}

.welcomeAddButton{
    width: 100%;
}

.log4{
    background-color: white;
    position: absolute;
    margin-top: 20%;
    left: 0px; 
    right: 0px;
}

.fundoWelcome{
	background-size: 100% 70%;
	background-image: url("/images/jay-wennington-2065.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.fundoCart {
	background-size: 100% 100%;
	background-image: url("/images/elli-o-43178.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.welcomeorderbutton{
    width: 15.1%;
}